@import "../../styles/variables.scss";

.input {
    padding: 10px 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
}
  
  .input:focus {
    background-color: grey;
    color: $main-color;
    border: 1px solid $main-color;
    caret-color: $main-color;
}
  
  .input:focus::placeholder {
    color: white;
}
  
  .input--expand {
    width: 100%;
}
  
  .input--error {
    border: 1px solid red;
}
  
  .input--error::placeholder {
    color: red;
}
  
  .input__errors {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.6em 0;
    color: red;
    text-align: left;
}