@import "../../styles/variables.scss";

.character {

    background: url("../../services/images/background-main.jpeg") center/cover no-repeat;

    &__wrapper {
        padding: 65px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__data {
        width: 100%;
        margin-right: 50px;
    }

    &__details {
        width: 100%;
        padding: 20px;
        background-color: rgb(35 34 28 / 65%);
        border-radius: 8px;
        border: 1px solid rgba(230, 183, 30, 0.132);
    }

    &__details-name {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 30px;
        display: inline-block;
        border-bottom: 2px solid rgb(240, 165, 0);
    }

    &__details p {
        font-size: 18px;
    }

    &__details span {
        color: $main-color;
    }

    &__others {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__others-data {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__others-data span {
        margin-top: 15px;
        font-size: 18px;
    }

    &__others-title {
        font-weight: 500;
        font-size: 24px;
        display: inline-block;
        border-bottom: 2px solid rgb(240, 165, 0);
    }

    &__others ul{
        margin-top: 15px;
    }

    &__others-link {
        display: flex;
        align-items: center;
        font-size: 20px;
        transition: all 0.2s ease-in;
    }

    &__others-link:hover {
        color: $main-color;
        svg {
            fill: $main-color;
        }
    }

    &__others svg {
        margin-right: 10px;
        transition: all 0.2s ease-in;
    }

    &__image {
        height: 450px;
    }

    &__image img {
        height: 100%;
        object-fit: cover;
    }
}