@import "../../styles/variables.scss";

.inputsearch {
    width: 560px;
    height: 50px;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 8px;
    padding: 0 16px;
    outline: none;
    transition: all 0.3s ease-in;
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    color: #000000;

    &:focus {
        border: 2px solid $main-color;
    }
}