.header {
    background: url('../../services/images/header-bg.jpg') no-repeat center/cover;

    &__wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social {
        align-self: flex-start;
    }

    &__social--links {
        display: flex;
    }

    &__social--links li {
        margin-right: 15px;
    }

    &__social svg {
        height: 25px;
        width: 25px;
        fill: #aaa;
        transition: all 0.3s;
    }

    &__social svg:hover {
        fill: white;
    }

    &__login {
        width: 210px;
        display: flex;
        justify-content: space-evenly;
        align-self: flex-start;
    }

    &__login button, &__name button {
        padding: 5px 10px;
        background-color: transparent;
        font-size: 16px;
        text-shadow: 0 1px 6px rgb(0 0 0 / 50%);
        font-weight: 700;
        color: #aaa;
        letter-spacing: 2px;
        line-height: 20px;
        text-transform: uppercase;
        transition: all 0.3s;
        cursor: pointer;
        border: 1px solid #aaa;
    }

    &__login button:hover, &__name button:hover {
        color: white;
    }

    &__name {
        width: 210px;
        align-self: flex-start;
        display: flex;
        align-items: center;
    }

    &__name p {
        margin: 0 10px;
        font-size: 16px;
        text-shadow: 0 1px 6px rgb(0 0 0 / 50%);
        font-weight: 700;
        color: #aaa;
        letter-spacing: 2px;
        line-height: 20px;
    }

    &__name svg {
        fill: #aaa;
    }

}